*.pyc 
.vscode/settings.json
.gitignore
Smoothing_and_Filtering/Preprocessing dataset.csv
catboost_info/learn_error.tsv
logs.log
catboost_info/catboost_training.json
catboost_info/time_left.tsv
catboost_info/learn/events.out.tfevents
